# Environment & Secrets
.env
.env.*
*.env
*.key
*.pem
*.cert
credentials*.json
service-account*.json
*.secret
.github/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Build
node_modules
dist
dist-ssr
*.local

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
staticfiles/
backend/staticfiles/

.pytest_cache/
.coverage
htmlcov/
venv/
env/
.venv/
ENV/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

